body {
    font-family: Arial, Helvetica, sans-serif;
    
}


.todo {
    
    max-width: 800px;
    min-height: 500px;
    margin: 0 auto;
    background-color: rgb(25, 24, 107);
    border-radius: 10px;
}

.nameToDo {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    color: aliceblue;
}

.field-task {
    border-radius: 5px;
    margin: 10px;
    height: 40px;
    min-width:200px;
    font-size: large;
}

.material-symbols-outlined {
    cursor: pointer;
}

.span {
    border: none;
}

.add-task,
.clear-tasks {
    font-weight: bold;
    border-radius: 6px;
}
.close-btn,
.edit-btn {
    border-radius: 6px;
}

.important {
    color: red;
    
}



.todo-list {
    border-radius: 10px;
    padding: 0 5px;
    padding-bottom: 5px;
}

.list {
    margin: 40px 10px ;
    background-color: beige;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.li {
    list-style-type: none;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    
}

.form-check {
    padding-left: 50px;
}
.li-active {
    text-decoration: line-through;
}

.close {
    background-color: red;
    font-weight: bold;
}

.empty {
    list-style: none;
    margin: 0 auto;
    height: 100%;
}